.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
}

.article {
  position: relative;
  z-index: 5;
  background-color: var(--color-2);
  border-radius: 3px;
  cursor: pointer;
  border-top: 2px solid var(--color-3);
  box-shadow: rgba(68, 68, 68, 0.185) 0px 13px 27px -5px,
    rgba(92, 92, 92, 0.063) 0px 8px 16px -8px;
  transition: all 0.3s ease-in-out;
  width: 360px;
  &:hover {
    border-top: 2px solid var(--color-3);
    transform: scale(1.1);
  }
  .articleHeader {
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
    background-color: var(--color-1);
    box-shadow: 3px -41px 59px -37px rgba(0, 0, 0, 1) inset;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    text-shadow: 1px 5px 12px #000000;
  }

  .articleBody {
    padding: 15px;
    position: relative;

    h3 {
      padding-top: 20px;
    }

    .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 100px;
    }

    .date {
      position: absolute;
      opacity: 0.5;
      top: 0px;
      left: 15px;
      font-size: 12px;
    }

    .tags {
      display: flex;
      gap: 5px;
      margin-right: 10px;
      span {
        background-color: var(--color-3);
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}
