.footer {
  margin-top: 100px;
  footer {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
  }
}
