.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.logo {
  a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px hsl(50, 50%, 45%), 2px 2px hsl(50, 50%, 40%),
      3px 3px hsl(50, 50%, 35%), 4px 4px hsl(50, 50%, 34%),
      5px 5px hsl(50, 50%, 33%), 6px 6px hsl(50, 50%, 32%),
      7px 7px hsl(50, 50%, 31%), 8px 8px hsl(50, 50%, 30%),
      9px 9px hsl(50, 50%, 29%), 10px 10px hsl(50, 50%, 28%),
      10px 10px 30px rgba(0, 0, 0, 0.7), img {
      width: 100px !important;
      height: 50%;
    }
  }
}

.navbar {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    li {
      a {
        color: white;
        text-transform: uppercase;
        padding: 10px 3vw;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
