.layout {
  position: relative;
  padding-top: var(--header-height);
}

.body {
  padding-left: 30px;
  padding-right: 30px;
  min-height: calc(100vh - var(--header-height) - var(--fotter-height));
}
